<main class="px-32 mt-4 flex flex-col">
  <p
    class="alert alert-info empty:hidden"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"
  >
    <%= live_flash(@flash, :info) %>
  </p>

  <p
    class="alert alert-danger empty:hidden"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"
  >
    <%= live_flash(@flash, :error) %>
  </p>

  <%= @inner_content %>
</main>
